<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>Hello, World!</h1>
    <p>This is your first SFN app, you see this page because you have installed SFN successfully.<br/> Now you can do whatever you want to design your app with SFN.</p>
    <p>You can open your browser's console panel, a socket message has been sent to you. <br/> When using SFN, both HTTP request and socket communication are recommended to use.</p>

    <script src="/js/socket.io.js"></script>
    <script>
        var socket = io.connect("<%=protocol%>://<%=host%>");
        socket.on("/index", function(data) {
            console.log("Socket:", data);
        }).on("/repeat-what-I-said", function(data) {
            console.log("You just said:", data);
        });
        socket.emit("/index");

        if (typeof EventSource == "function") {
            var es = new EventSource("/sse-test"),
                count = 0;
            es.onmessage = function (e) {
                console.log(e.data);
                if (++count == 10) {
                    es.close();
                }
            };
        }
    </script>
</body>

</html>