.vscode/
node_modules/
logs/
cache/
sessions/
docs/
dist/bootstrap/
dist/controllers/
dist/hooks/
dist/services/
dist/utils/
src/assets/
src/bootstrap/
src/controllers/
src/locales/
src/hooks/
src/services/
src/utils/
src/views/
src/*-server*
dist/*-server*
*.db
*.tgz
ecosystem.config.js
package-lock.json
/repl.js
/.*
*.bak