.vscode/
node_modules/
logs/
cache/
sessions/
dist/*
!dist/cli/
docs/
src/*
!src/config.ts
!src/index.ts
!src/init.ts
!src/cli/
!src/core/
*.db
*.tgz
.*history
*.bak
*.config.js
repl.js
tsconfig.tsbuildinfo
yarn-error.log