.vscode/
dist/
node_modules/
logs/
cache/
sessions/
docs/
src/assets/
src/bootstrap/
src/controllers/
src/locales/
src/hooks/
src/services/
src/utils/
src/views/
*.db
*.tgz
ecosystem.config.js
package-lock.json
yarn.lock
yarn-error.log
/repl.js
/.*
*.bak