<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= err.toString() %></title>
</head>

<body>
    <h1><%= err.toString() %></h1>
    <p>The page you are requested doesn't exist, please check the URL and try again.</p>
</body>

</html>