</div>

<footer>
    <p class="text-center">
        <span id="copyright">©
            <%= (new Date).getFullYear() %> hyurl
            <a href="http://github.com/hyurl/sfn">SFN</a> <%= i18n("version") %>
        </span>
        <span id="license">Licensed under the
            <a target="_blank" href="http://spdx.org/licenses/MIT.html">MIT License</a>.
        </span>
        <span id="icp">
            <a href="http://www.miitbeian.gov.cn" target="_blank" style="color:#777">桂ICP备15001693号</a>
        </span>
    </p>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/soft-loader.js"></script>
<script src="/js/javascript.js"></script>
<script src="/js/socket.io.js"></script>
<script>
    var socket = io.connect("localhost:<%= port %>");
    socket.on("/index", function (data) {
        console.log("Socket:", data);
    }).on("/repeat-what-I-said", function (data) {
        console.log("You just said:", data);
    });
    socket.emit("/index");
</script>
</body>

</html>