<%- include("./header") %>
<div class="content">
    <div class="jumbotron">
        <h1 class="vivify popInRight">SFN</h1>
        <p class="desc vivify fadeIn">
            一个优雅的 NodeJS web 服务框架。
        </p>
    </div>
    <div class="command vivify flipInX">
        <pre>npm install sfn --save</pre>
    </div>
    <div class="pre-requisit">
        <div class="vivify rollInRight">
            <a href="http://nodejs.org/">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="20">
                    <linearGradient id="b" x2="0" y2="100%">
                        <stop offset="0" stop-color="#bbb" stop-opacity=".1" />
                        <stop offset="1" stop-opacity=".1" />
                    </linearGradient>
                    <clipPath id="a">
                        <rect width="80" height="20" rx="3" fill="#fff" />
                    </clipPath>
                    <g clip-path="url(#a)">
                        <path fill="#555" d="M0 0h35v20H0z" />
                        <path fill="#007ec6" d="M35 0h45v20H35z" />
                        <path fill="url(#b)" d="M0 0h80v20H0z" />
                    </g>
                    <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
                        <text x="17.5" y="15" fill="#010101" fill-opacity=".3">node</text>
                        <text x="17.5" y="14">node</text>
                        <text x="56.5" y="15" fill="#010101" fill-opacity=".3">v6.0+</text>
                        <text x="56.5" y="14">v6.0+</text>
                    </g>
                </svg>
            </a>
            <a href="http://spdx.org/licenses/MIT.html">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="20">
                    <linearGradient id="b" x2="0" y2="100%">
                        <stop offset="0" stop-color="#bbb" stop-opacity=".1" />
                        <stop offset="1" stop-opacity=".1" />
                    </linearGradient>
                    <clipPath id="a">
                        <rect width="100" height="20" rx="3" fill="#fff" />
                    </clipPath>
                    <g clip-path="url(#a)">
                        <path fill="#555" d="M0 0h50v20H0z" />
                        <path fill="#007ec6" d="M50 0h45v20H50z" />
                        <path fill="url(#b)" d="M0 0h80v20H0z" />
                    </g>
                    <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
                        <text x="24.5" y="15" fill="#010101" fill-opacity=".3">license</text>
                        <text x="24.5" y="14">license</text>
                        <text x="64.5" y="15" fill="#010101" fill-opacity=".3">MIT</text>
                        <text x="64.5" y="14">MIT</text>
                    </g>
                </svg>
            </a>
            <a href="https://babeljs.io/learn-es2015/">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="20">
                    <linearGradient id="b" x2="0" y2="100%">
                        <stop offset="0" stop-color="#bbb" stop-opacity=".1" />
                        <stop offset="1" stop-opacity=".1" />
                    </linearGradient>
                    <clipPath id="a">
                        <rect width="80" height="20" rx="3" fill="#fff" />
                    </clipPath>
                    <g clip-path="url(#a)">
                        <path fill="#555" d="M0 0h35v20H0z" />
                        <path fill="#007ec6" d="M35 0h45v20H35z" />
                        <path fill="url(#b)" d="M0 0h80v20H0z" />
                    </g>
                    <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
                        <text x="17.5" y="15" fill="#010101" fill-opacity=".3">ES</text>
                        <text x="17.5" y="14">ES</text>
                        <text x="56.5" y="15" fill="#010101" fill-opacity=".3">2015+</text>
                        <text x="56.5" y="14">2015+</text>
                    </g>
                </svg>
            </a>
        </div>
    </div>
    <div class="box">
        <div class="vivify popInBottom">
            <h2>简单易用</h2>
            <p>
                <strong>sfn</strong> 提供了一堆简洁友好的 API，你可以使用它们来快速搭建新应用。只需要专注于你的程序逻辑，然后框架就能帮你处理剩下的所有事务。
            </p>
        </div>
        <div class="vivify popInBottom">
            <h2>编码优雅</h2>
            <p>
                得益于 <strong>sfn</strong> 的友好设计，你可以使用非常优雅的方式来编写代码。你可能听说过“<em>代码如诗</em>”这句话，现在，你终于可以将其应用在自己的项目中了。
            </p>
        </div>
        <div class="vivify popInBottom">
            <h2>极其强大</h2>
            <p>
                基于一个实用的原则，<strong>sfn</strong> 是非常强大的，你可以利用它出色的特性，来帮助你在很短的时间内搭建出不平凡的 web 应用程序。
            </p>
        </div>
    </div>
</div>
<%- include("./footer") %>